<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMoney - контролируйте ваши финансы</title>
    <link rel="icon" href="/static/images/BrowLogo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/start.css">
</head>
<body>
    <header class="head">
        <a href="/start">
            <div class="logo">
                <img src="/static/images/Logo.svg" alt="Логотип">
            </div>
        </a>
        <nav>
            <ul>
                <li class="signin"> <a href="/login">Войти</a></li>
                <li class="signup"> <a href="/register">Зарегистироваться</a></li>
            </ul>
        </nav>
    </header>
    <div class="cont">
        <div class="info_block">
            <h2>Контролируйте свои финансы</h2>
            <p class="highlight"><span>SmartMoney это:</span></p>
            <ul>
                <li>Управление денежным потоком</li>
                <li>Детальная статистика за разные промежутки времени</li>
                <li>Контроль финансовых операций</li>
            </ul>
        </div>
        <img class="pict" src="/static/images/Diagramma.png" alt="График расходов">
    </div>
</body>
</html>